asgiref==3.7.2
backports.zoneinfo==0.2.1
bootstrap4==0.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
crispy-bootstrap4==2024.1
Django==4.2.7
django-crispy-forms==2.1
idna==3.6
pillow==10.2.0
python-dotenv==1.0.1
requests==2.31.0
sqlparse==0.4.4
stripe==8.7.0
typing-extensions==4.10.0
urllib3==2.2.1
