{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Marcas Aliadas</h1>
            
            {% if brands %}
                <div class="row">
                    {% for brand in brands %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                
                                <div class="card-body text-dark"> 
                                    <h4 class="card-title">{{ brand.name }}</h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <!-- Mensaje si no hay datos disponibles -->
                <p>No hay marcas aliadas disponibles.</p>
            {% endif %}
        </div>
    </div>
</header>
{% endblock %}
