{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ver Producto</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <!-- Navigation-->
    {% include 'navbar.html' %}  
    {% if messages %}  
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <!-- Product section-->
    {% if product.is_sale %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <!-- Product image-->
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 product.image" src="{{ product.image.url }}" id ="product-image"alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">SKU: BST-498</div>
                    
                    <h1 class="display-5 fw-bolder product-title">{{ product.name }}</h1>
                    {{ product.category }}   
                    <input type="hidden" value={{product.name}} class="product-title" name="" id="product-title"> 
                    <input type="hidden" value={{product.sale_price}} class="current-product-price" name="" id=""> 
                    <input type="hidden" value={{product.id}} class="product-id" name="" id="">
                    
                    <div class="fs-5 mb-5">
                        <strike>${{ product.price }}</strike> 
                        &nbsp;
                        <span class="current-product-price">${{ product.sale_price }}</span>
                    </div>
                    <p class="lead">{{product.description}}</p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="product-quantity" type="num" value="1" style="max-width: 3rem" />
                        <button type="submit" id ="add-to-cart-btn" class="btn btn-outline-dark flex-shrink-0"> Añadir al carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    {% else %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 product-image " id ="product-image"  src="{{ product.image.url }}" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">SKU: BST-498</div>
                    <h1 class="display-5 fw-bolder product-title">{{ product.name }}</h1> 
                    {{ product.category }}   
                    <input type="hidden" value={{product.name}} class="product-title" name="" id="product-title"> 
                    <input type="hidden" value={{product.price}} class="current-product-price" name="" id=""> 
                    <input type="hidden" value={{product.id}} class="product-id" name="" id="">
                    <div class="fs-5 mb-5">
                        <span class="current-product-price" id="product-price">${{ product.price }}</span>
                    </div>
                    <p class="lead">{{product.description}}</p>
           
                    <div class="d-flex">   
                        <input class="form-control text-center me-3" id="product-quantity" type="num" value="1" style="max-width: 3rem" />
                        <input type="hidden" value={{product.id}} class="product-id"name="" id="">
                        <button type="submit" id ="add-to-cart-btn" class="btn btn-outline-dark flex-shrink-0"> Añadir al carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- Related items section-->
    {% endif %}
    <!-- Footer--> 
    <br/><br/> 
    <br/><br/> 
    <br/><br/> 
    <br/><br/> 
    <br/><br/> 
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Santiago Gallego, Juan José Villada, Daniel Vélez</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %} "></script>  
    


  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script> 
    $("#add-to-cart-btn").on("click",function(){  
    let quantity = $("#product-quantity").val(); 
    let product_title=$(".product-title").text(); 
    let product_id=$(".product-id").val(); 
    let product_price=$(".current-product-price").val() ; 
    let product_image = $("#product-image").attr("src");
    let this_val=$(this) 



    console.log("Quantity: ",quantity); 
    console.log("Title: ", product_title);  
    console.log("Price: ", product_price);  
    console.log("ID: ",product_id);
    console.log("Current element: ", this_val);  
    console.log("Image: ",product_image) ;

    $.ajax({ 
        url: '/add-to-cart' , 
        data: { 
            'id':product_id ,
            'qty':quantity ,
            'title':product_title, 
            'price': product_price,
            'image':product_image
        }, 
        dataType: 'json' ,
        beforeSend: function(){ 
            console.log("Adding Product to Cart...");
        }, 
        success: function(response){ 
            this_val.html("Item agregado al carrito"); 
            console.log("Added Product To Cart!"); 
            $("#cart-items-count").text(response.totalcartitems)
        },

    })




}) 
</script>
</body>
</html>
