{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder text-success ">Compra Exitosa</h1>
            <p class="lead fw-normal text-white-50 mb-0">Productos comprados:</p>
            
            
            <p class="lead fw-normal text-white-50 mb-0">Gracias por su compra</p>
            <a href="{% url 'home' %}" class="btn btn-primary btn-lg">Volver a la tienda</a>

        </div>
    </div>
</header>



{% endblock %}







